<div class="module-docheader t3js-module-docheader">
    <div
        class="module-docheader-bar module-docheader-bar-navigation t3js-module-docheader-bar t3js-module-docheader-bar-navigation">
        <div class="module-docheader-bar-column-left">
            <div class="module-docheader-bar-container">
                <div class="form-group form-group-sm">
                </div>
            </div>
        </div>
        <div class="module-docheader-bar-column-right">
            <f:if condition="{docHeader.metaInformation.recordInformation}">
                <f:if condition="{docHeader.metaInformation.fileOrFolder}">
                    <f:then>
                        <f:format.raw>{docHeader.metaInformation.path}</f:format.raw>
                    </f:then>
                    <f:else>
                        <span class="typo3-docheader-pagePath">
                            <f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.path"/>: <f:format.raw>{docHeader.metaInformation.path}</f:format.raw>
                        </span>
                    </f:else>
                </f:if>
                <strong>
                    <f:format.raw>
                        {docHeader.metaInformation.recordInformationIcon} {docHeader.metaInformation.recordInformationTitle}
                        <f:if condition="{docHeader.metaInformation.recordInformationUid}">[{docHeader.metaInformation.recordInformationUid}]</f:if>
                    </f:format.raw>
                </strong>
                {docHeader.metaInformation.recordInformationAdditionalInfo}
            </f:if>
        </div>
    </div>
    <div
        class="module-docheader-bar module-docheader-bar-buttons t3js-module-docheader-bar t3js-module-docheader-bar-buttons">
        <div class="module-docheader-bar-column-left">
            <div aria-label="" class="btn-toolbar" role="toolbar">
                <a href="{returnUrl}" class="btn btn-default btn-sm"><core:icon title="Move to confirmed connections" identifier="actions-close" />Close</a>
                <button type="submit" class="btn btn-default btn-sm" title="Save"><core:icon title="Move to confirmed connections" identifier="actions-document-save" /> Save</button>
            </div>
        </div>
        <div class="module-docheader-bar-column-right">
            <div aria-label="" class="btn-toolbar" role="toolbar">
            </div>
        </div>
    </div>
</div>
