<f:if condition="{record.uid}">
    <div class="t3-page-ce-wrapper">
        <div class="t3-page-ce" id="element-{table}-{record.uid}" data-table="{table}" data-uid="{record.uid}"
             data-interaction="{interaction}">
            <div class="t3-page-ce-element">
                <div class="t3-page-ce-header">
                    <div class="t3-page-ce-header-left">
                        <f:if condition="{interaction}=='true'">
                            <f:if condition="{status}=='possible'">
                                <f:then>
                                    <button class="btn btn-default btn-transfusion-selector" data-direction="left" data-frequency="2">
                                        <core:icon title="Move to confirmed connections" identifier="actions-chevron-double-left" />
                                    </button>
                                </f:then>
                                <f:else>
                                    <button class="btn btn-default btn-transfusion-selector" data-direction="left" data-frequency="1">
                                        <core:icon title="Move to confirmed connections" identifier="actions-chevron-left" />
                                    </button>
                                </f:else>
                            </f:if>
                        </f:if>
                        <f:format.raw>{record.icon}</f:format.raw>
                    </div>
                    <div class="t3-page-ce-header-title">
                        {record.previewData.header}
                    </div>
                    <f:if condition="{interaction}=='true'">
                        <div class="t3-page-ce-header-right">
                            <f:if condition="{status}=='possible'">
                                <f:then>
                                    <button class="btn btn-default btn-transfusion-selector" data-direction="right" data-frequency="2">
                                        <core:icon title="Remove from confirmed connections" identifier="actions-chevron-double-right" />
                                    </button>
                                </f:then>
                                <f:else>
                                    <button class="btn btn-default btn-transfusion-selector" data-direction="right" data-frequency="1">
                                        <core:icon title="Remove from confirmed connections" identifier="actions-chevron-right" />
                                    </button>
                                </f:else>
                            </f:if>
                        </div>
                    </f:if>
                </div>
            </div>
        </div>
        <div class="transfusion-input-wrapper">
            <input name="dataMap[{table}][{record.uid}][{transFusionFields.parent}]" value="{original.uid}" type="hidden" disabled="disabled" />
            <input name="dataMap[{table}][{record.uid}][{transFusionFields.sorting}]" value="{original.sorting}" type="hidden" disabled="disabled" />
            <f:if condition="{original.column} !== ''">
                <input name="dataMap[{table}][{record.uid}][{transFusionFields.column}]" value="{original.column}" type="hidden" disabled="disabled" />
            </f:if>
        </div>
    </div>
</f:if>
