<f:if condition="{record.uid}">
    <div class="t3-page-ce-wrapper">
        <div class="t3-page-ce" data-interaction="{interaction}" data-table="{table}" data-uid="{record.uid}"
             id="element-{table}-{record.uid}">
            <div class="t3-page-ce-element">
                <div class="t3-page-ce-header">
                    <div class="t3-page-ce-header-left">
                        <f:if condition="{interaction}=='true'">
                            <f:if condition="{status}=='orphaned'">
                                <f:then>
                                    <button class="btn btn-default btn-transfusion-selector" data-direction="left" data-action="new"
                                            data-status="{status}">
                                        <core:icon identifier="actions-plus"
                                                   title="Add new translation parent and move to confirmed connections"/>
                                        <core:icon identifier="actions-chevron-double-left"
                                                   title="Add new translation parent and move to confirmed connections"/>
                                    </button>
                                </f:then>
                                <f:else>
                                    <f:if condition="{status}=='possible' || {status}=='broken'">
                                        <f:then>
                                            <button class="btn btn-default btn-transfusion-selector" data-direction="left"
                                                    data-status="{status}">
                                                <core:icon identifier="actions-chevron-double-left"
                                                           title="Move to confirmed connections"/>
                                            </button>
                                        </f:then>
                                        <f:else>
                                            <button class="btn btn-default btn-transfusion-selector" data-direction="left"
                                                    data-status="{status}">
                                                <core:icon identifier="actions-chevron-left"
                                                           title="Move to confirmed connections"/>
                                            </button>
                                        </f:else>
                                    </f:if>
                                </f:else>
                            </f:if>
                        </f:if>
                        <f:format.raw>{record.icon}</f:format.raw>
                    </div>
                    <div class="t3-page-ce-header-title">
                        {record.label}
                    </div>
                    <f:if condition="{status}!='original' || {interaction}=='true'">
                        <div class="t3-page-ce-header-right">
                            <f:if condition="{status}!='orphaned'">
                                <f:then>
                                    <button class="btn btn-default btn-sm btn-transfusion-remove" title="Remove all connection information. Creates an orphaned record!">
                                        <core:icon identifier="actions-unlink"/>
                                    </button>
                                </f:then>
                                <f:else>
                                    <button class="btn btn-warning btn-sm btn-transfusion-new" title="New parent record" disabled="disabled">NEW</button>
                                </f:else>
                            </f:if>
                            <button class="btn btn-default btn-sm btn-transfusion-delete" title="Delete superfluous record"
                                    data-enabledtitle="Marked for deletion!"
                                    data-disabledtitle="Delete superfluous record">
                                <core:icon identifier="actions-edit-delete"/>
                            </button>
                            <f:if condition="{interaction}=='true'">
                                <f:if condition="{status}=='possible' || {status}=='broken' || {status}=='orphaned'">
                                    <f:then>
                                        <button class="btn btn-default btn-transfusion-selector" data-direction="right"
                                                data-status="{status}">
                                            <core:icon identifier="actions-chevron-double-right"
                                                       title="Remove from confirmed connections"/>
                                        </button>
                                    </f:then>
                                    <f:else>
                                        <button class="btn btn-default btn-transfusion-selector" data-direction="right"
                                                data-status="{status}">
                                            <core:icon identifier="actions-chevron-right"
                                                       title="Remove from confirmed connections"/>
                                        </button>
                                    </f:else>
                                </f:if>
                            </f:if>
                        </div>
                    </f:if>
                </div>
            </div>
        </div>
        <div class="transfusion-input-wrapper">
            <f:if condition="{status}=='orphaned'">
                <f:then>
                    <input disabled="disabled" name="cmdMap[{table}][{record.previewData.uid}][delete]" class="delete"
                           type="hidden" value="1"/>
                    <input disabled="disabled" name="dataMap[{table}][{record.uid}][{transFusionFields.type}]" class="new"
                           type="hidden"
                           value="{record.type}"/>
                    <input disabled="disabled" name="dataMap[{table}][{record.uid}][pid]" class="new"
                           type="hidden"
                           value="{record.pid}"/>
                    <input disabled="disabled" name="dataMap[{table}][{record.uid}][{transFusionFields.label}]" class="new"
                           type="hidden"
                           value="[NEW] {record.label}"/>
                    <input disabled="disabled" name="dataMap[{table}][{record.previewData.uid}][{transFusionFields.parent}]" class="change"
                           type="hidden" value="{record.uid}"/>
                    <input disabled="disabled" name="dataMap[{table}][{record.previewData.uid}][{transFusionFields.source}]" class="change"
                           type="hidden" value="{record.uid}"/>
                </f:then>
                <f:else>
                    <input disabled="disabled" name="cmdMap[{table}][{record.uid}][delete]" class="delete"
                           type="hidden" value="1"/>
                    <input disabled="disabled" name="dataMap[{table}][{record.uid}][{transFusionFields.parent}]" class="change"
                           type="hidden" value="{original.uid}"/>
                    <input disabled="disabled" name="dataMap[{table}][{record.uid}][{transFusionFields.type}]" class="change"
                           type="hidden"
                           value="{original.type}"/>
                    <f:if condition="{original.column} !== ''">
                        <input disabled="disabled" name="dataMap[{table}][{record.uid}][{transFusionFields.column}]"
                               class="change"
                               type="hidden" value="{original.column}"/>
                    </f:if>
                </f:else>
            </f:if>
            <input disabled="disabled" name="dataMap[{table}][{record.previewData.uid}][{transFusionFields.parent}]" class="remove"
                   type="hidden" value="0"/>
            <input disabled="disabled" name="dataMap[{table}][{record.previewData.uid}][{transFusionFields.source}]" class="remove"
                   type="hidden"
                   value="0"/>
            <input disabled="disabled" name="dataMap[{table}][{record.previewData.uid}][{transFusionFields.original}]" class="remove"
                   type="hidden"
                   value="0"/>
        </div>
    </div>
</f:if>
