<thead>
<tr>
    <th class="transfusion-original">
        <h2>Original Record
            <core:icon identifier="actions-question-circle"
                       title="Mandatory for translations in connected mode"/>
        </h2>
    </th>
    <th class="transfusion-confirmed">
        <h2>Confirmed Connection
            <core:icon identifier="actions-question-circle"
                       title="These records are already properly connected or selected and will be stored when saving"/>
        </h2>
    </th>
    <th class="transfusion-obvious">
        <h2>Obvious Connection
            <core:icon identifier="actions-question-circle"
                       title="These records were directly matched to the default language"/>
        </h2>
    </th>
    <th class="transfusion-possible">
        <h2>Possible Connection
            <core:icon identifier="actions-question-circle"
                       title="These records could be matched to the default language based on their source"/>
        </h2>
    </th>
    <th class="transfusion-broken">
        <h2>Broken/Orphaned Connection
            <core:icon identifier="actions-question-circle"
                       title="These records might be matched to the default language but haven't got a matching type or need a new parent record"/>
        </h2>
    </th>
</tr>
</thead>
