<f:be.pageRenderer
    includeJavaScriptModules="{
         0: '@t3thi/transfusion/transfusion-connector.js'
      }"
/>

<div class="{moduleClass}" data-module-id="{moduleId}" data-module-name="{moduleName}">
    <div class="module-loading-indicator"></div>
    <form action="{transfusion:uri.connect(page: connect.page, language: connect.language, returnUrl: returnUrl)}"
          id="TransfusionController" method="post">
        <f:render partial="Docheader" arguments="{docHeader: docHeader, returnUrl: returnUrl}"/>
        <div class="module-body t3js-module-body">
            <h1>TransFusion Connector</h1>
            <div class="t3-grid-container">
                <div class="t3-grid-container-inner">
                    <f:for as="data" each="{defaultLanguageRecords}" key="table">
                        <table class="t3-grid-table">
                            <f:render partial="TableHead"/>
                            <tbody>
                            <f:for as="record" each="{data.records}">
                                <tr>
                                    <td class="t3-grid-cell t3-page-column t3-gridCell-width1 t3-gridCell-height1 transfusion-original">
                                        <f:render
                                            arguments="{table: table, record: record, status: 'original', interaction: 'false', transFusionFields: data.transFusionFields}"
                                            partial="Preview"/>
                                    </td>
                                    <td class="t3-grid-cell t3-page-column t3-gridCell-width1 t3-gridCell-height1 transfusion-confirmed">
                                        <f:render
                                            arguments="{table: table, record: record.confirmedConnection, originalId: record.uid, status: 'confirmed', interaction: 'false', transFusionFields: data.transFusionFields}"
                                            partial="Preview"/>
                                    </td>
                                    <td class="t3-grid-cell t3-page-column t3-gridCell-width1 t3-gridCell-height1 transfusion-obvious">
                                        <f:render
                                            arguments="{table: table, record: record.obviousConnection, originalId: record.uid, status: 'obvious', interaction: 'true', transFusionFields: data.transFusionFields}"
                                            partial="Preview"/>
                                    </td>
                                    <td class="t3-grid-cell t3-page-column t3-gridCell-width1 t3-gridCell-height1 transfusion-possible">
                                        <f:render
                                            arguments="{table: table, record: record.possibleConnection, originalId: record.uid, status: 'possible', interaction: 'true', transFusionFields: data.transFusionFields}"
                                            partial="Preview"/>
                                    </td>
                                </tr>
                            </f:for>
                            </tbody>
                        </table>
                    </f:for>
                </div>
            </div>
        </div>
    </form>
</div>
