.module-transfusion-connector .t3-grid-table {
    border-spacing: 0.25rem;
}

.module-transfusion-connector .t3-grid-table th {
    padding: 0.75rem;
}

.module-transfusion-connector .t3-grid-table th.transfusion-original {
    color:var(--bs-secondary-text-emphasis);
    background:var(--bs-secondary-border-subtle);
    border: 1px solid var(--bs-secondary-border-subtle);
}

.module-transfusion-connector .t3-grid-table th.transfusion-confirmed {
    color:var(--bs-success-text-emphasis);
    background:var(--bs-success-border-subtle);
    border: 1px solid var(--bs-success-border-subtle);
}

.module-transfusion-connector .t3-grid-table th.transfusion-obvious {
    color:var(--bs-info-text-emphasis);
    background:var(--bs-info-border-subtle);
    border:1px solid var(--bs-info-border-subtle);
}

.module-transfusion-connector .t3-grid-table th.transfusion-possible {
    color:var(--bs-warning-text-emphasis);
    background:var(--bs-warning-border-subtle);
    border: 1px solid var(--bs-warning-border-subtle);
}

.module-transfusion-connector .t3-grid-table th.transfusion-broken {
    color:var(--bs-danger-text-emphasis);
    background:var(--bs-danger-border-subtle);
    border:1px solid var(--bs-danger-border-subtle);
}

.module-transfusion-connector .t3-grid-table td.transfusion-original {
    color:var(--bs-secondary-text-emphasis);
    background:var(--bs-secondary-bg-subtle);
    border: 1px solid var(--bs-secondary-border-subtle);
}

.module-transfusion-connector .t3-grid-table td.transfusion-confirmed {
    color:var(--bs-success-text-emphasis);
    background:var(--bs-success-bg-subtle);
    border: 1px solid var(--bs-success-border-subtle);
}

.module-transfusion-connector .t3-grid-table td.transfusion-confirmed .btn-transfusion-selector {
    background:var(--bs-success-border-subtle);
}

.module-transfusion-connector .t3-grid-table td.transfusion-obvious {
    color:var(--bs-info-text-emphasis);
    background:var(--bs-info-bg-subtle);
    border:1px solid var(--bs-info-border-subtle);
}

.module-transfusion-connector .t3-grid-table td.transfusion-obvious .btn-transfusion-selector {
    background:var(--bs-info-border-subtle);
}

.module-transfusion-connector .t3-grid-table td.transfusion-possible {
    color:var(--bs-warning-text-emphasis);
    background:var(--bs-warning-bg-subtle);
    border: 1px solid var(--bs-warning-border-subtle);
}

.module-transfusion-connector .t3-grid-table td.transfusion-possible .btn-transfusion-selector {
    background:var(--bs-warning-border-subtle);
}

.module-transfusion-connector .t3-grid-table td.transfusion-broken {
    color:var(--bs-danger-text-emphasis);
    background:var(--bs-danger-bg-subtle);
    border:1px solid var(--bs-danger-border-subtle);
}

.module-transfusion-connector .t3-grid-table td.transfusion-broken .btn-transfusion-selector {
    background:var(--bs-danger-border-subtle);
}

.module-transfusion-connector .t3-grid-table .t3-page-ce {
    margin: 0.75rem;
}

.module-transfusion-connector .t3-grid-table .t3-page-ce-element {
    margin-bottom: 0;
}

.module-transfusion-connector .t3-grid-table .t3-page-ce-wrapper .t3-page-ce-header-left {
    align-items: center;
}

.module-transfusion-connector .t3-grid-table .t3-page-ce-wrapper .t3-page-ce-header-left * {
    display: inline-block;
    vertical-align: middle;
}

.module-transfusion-connector .t3-grid-table .t3-page-ce-wrapper .t3-page-ce-header-left .btn-transfusion-selector {
    margin-right: 1em;
}

.module-transfusion-connector .t3-grid-table .transfusion-confirmed .t3-page-ce-header-left .btn-transfusion-selector,
.module-transfusion-connector .t3-grid-table .transfusion-obvious .t3-page-ce-header-right .btn-transfusion-selector,
.module-transfusion-connector .t3-grid-table .transfusion-possible .t3-page-ce-header-right .btn-transfusion-selector,
.module-transfusion-connector .t3-grid-table .transfusion-broken .t3-page-ce-header-right .btn-transfusion-selector {
    display: none;
}

